<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="/images/CMCS Logo 2.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ST10384311PROG6212POE.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navigation-bar navbar-expand-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Contract Monthly Claims System</a>

                <ul class="navigation-list">
                    <li class="navigation-item dropdown">
                        <a class="navigation-link" asp-area="" asp-controller="" asp-action="">Claims</a>
                        <ul class="dropdown-content">
                            <li>
                                <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="SubmitClaims">Submit Claims</a>
                            </li>
                            <li>
                                <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="ProcessClaims">Process Claims</a>
                                </li>
                            <!-- Add more links here if needed -->
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 Contract Monthly Claims System
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
