@{
    ViewData["Title"] = "Home";
}
<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/index.css"/>
    </head>
    <!--A Welcoming Message to set the Atmosphere of the Website-->
    <body>
        <div class="heading">
            <h1>Welcome to the</h1>
        </div>

        <div class="subheading">
            <h1>Contract Monthly Claims System</h1>
        </div>

        <div class="paragraph">
            <p>
                This platform is designed specifically for Independent Contractor (IC) lecturers to efficiently submit
                their monthly claims. Here, you can easily track your work hours, calculate your claims based on hourly
                rates, and submit the necessary documentation for approval. Once your claims are submitted, they will
                be reviewed by the Programme Coordinator and Academic Manager. To get started, simply click the button
                below to access the claims submission page.
            </p>
        </div>

        <div class="button">
        <a asp-controller="Home" asp-action="SubmitClaims" class="hero-btn">Submit Claims</a>
        </div>
    </body>
</html>
<!---------------------------------------------------------------End Of File----------------------------------------------------->